<footer class="black-footer">
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile>
        <div class="footer-section center-text">
          <h3>HORARIO</h3>
          Podemos atenderte en el siguiente horario <br />
          Lunes a viernes: 10:00 - 20:00 <br />
          Sábados: 9:00 - 14:00 <br />
          Domingos: Cerrado <br />
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="footer-section center-text">
          <h3>CONTACTANOS</h3>
          Av. Quito <br />
          y 9 de Octubre <br />
          Frente al Palacio de Justicia <br />
          Tel: 925 62 19 62<br />
          Copyright © 2023<br />
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="footer-section center-text">
          <h3>Nuestras Redes</h3>
          <br />
          <div class="icons">
            <a href="https://www.facebook.com">
              <i class="bi bi-facebook m-3"></i>
            </a>
            <a href="https://www.instagram.com">
              <i class="bi bi-instagram m-3"></i>
            </a>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </footer>