<body style="overflow: auto;">
    <div class="container my-5">
        <h1 class="header">Corte de Cabello para Hombres</h1>
        <div class="row">
            <div class="section mt-5 mb-5 ">
                <mat-card  >
                    <mat-card-header>
                        <mat-card-title>¡Obtén un corte de cabello impecable para hombres en nuestro salón de belleza!</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="https://t1.uc.ltmcdn.com/es/posts/6/0/2/corte_degradado_52206_0_600.jpg" alt="Corte de Pelo">
                    <mat-card-content>
                            <div class="container">
                                <p>En nuestro salón, ofrecemos servicios de peluquería especializados en cortes de cabello para hombres. Nuestro equipo de estilistas altamente capacitados se especializa en crear cortes de cabello que resalten tu estilo único y realcen tu apariencia.</p>
                                <p>Ya sea que desees un corte clásico, moderno o de tendencia, estamos aquí para cumplir con tus expectativas. Nos enfocamos en escuchar tus preferencias y asesorarte sobre los estilos que mejor se adapten a tu tipo de cabello, forma de la cara y personalidad. Nuestro objetivo es brindarte un corte de cabello que te haga sentir seguro y satisfecho con tu apariencia.</p>
                                <p>Además, trabajamos con productos de alta calidad y herramientas profesionales para garantizar resultados excepcionales y duraderos. Nuestro compromiso es brindarte un servicio de primera clase, donde te sentirás bienvenido y cuidado en un ambiente relajante.</p>
                                <p>¡Ven a nuestro salón de belleza y experimenta la excelencia en cortes de cabello para hombres! Estamos ansiosos por ayudarte a lucir tu mejor versión. Programa una cita con nosotros hoy mismo y déjanos consentirte con un corte de cabello que te haga sentir renovado y con estilo.</p>
                                <p><a routerLink="/contacto" class="button">Agenda tu cita ahora</a></p>
                            </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>