<body>
    <div class="container my-5">
        <h1 class="header">Extensiones</h1>
       <h4>Ofrecemos 2 tipos de Extensiones de Cabello</h4> 
        <div class="row">
            <div class="col-md-6 ">
                <mat-card  >
                    <mat-card-header>
                        <mat-card-title>Extensiones con clip</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="https://s.libertaddigital.com/2022/08/26/extensiones-de-clip-de-pelo-natural-fshine-eucp-7pcs.jpg" alt="Corte de Pelo">
                    <mat-card-content>
                        <p>Transforma tu look en segundos con nuestras extensiones de cabello con clip!

                            En nuestro salón de belleza, te ofrecemos la solución perfecta para agregar longitud, volumen y estilo a tu cabello de forma rápida y sencilla. Nuestras extensiones de cabello con clip son la opción ideal para aquellos momentos en los que deseas lucir una melena deslumbrante sin comprometerte a largo plazo..</p>
                        <a routerLink="/precios-ofertas"  class="button">Visualizar el precio</a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-6 ">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Extensiones de queratina</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="https://s2.ppllstatics.com/ideal/www/pre2017/multimedia/noticias/201604/12/media/cortadas/queratina--575x323.jpg" alt="Coloreado">
                    <mat-card-content>
                        <p>Obtén un cabello largo, voluminoso y deslumbrante con nuestras extensiones de queratina.</p>
                        <p>No pierdas la oportunidad de lucir un cabello impresionante y lleno de vida. ¡Ven a nuestro salón y descubre cómo nuestras extensiones de queratina pueden transformar tu imagen y aumentar tu confianza! Te garantizamos resultados excepcionales y un servicio de primera clase.</p>
                        <p> ¡Atrévete a lucir el cabello de tus sueños con nuestras extensiones de queratina! Contáctanos hoy mismo para programar una cita y dar el primer paso hacia un look espectacular. Estamos emocionados de ser parte de tu viaje hacia un cabello fabuloso y radiante.</p>
                        <a routerLink="/precios-ofertas"  class="button">Visualizar el precio</a>
                    </mat-card-content>
                </mat-card>
            </div>
            
        </div>
    </div>
    <app-footer></app-footer>
</body>